*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1400px;
    background-color: #E9EEF4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: inline-block;
}